<nav *ngIf="!mobile" class="bg-white mb-4 navbar navbar-expand-md navbar-light p-0">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo_desktop.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about">ABOUT US</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/how-it-works">HOW IT WORKS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/events']" [queryParams]="{chefs: 'all'}">UPCOMING EVENTS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/chefs">OUR CHEFS</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/faq">FAQS</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto" *ngIf="isLoggedIn">
        <li class="nav-item">

        </li>
      </ul>
      <div class="mt-2 button-goja-khichuri" *ngIf="!isLoggedIn">
        <div style="margin-bottom: 10px;">
            <a class="_link" routerLink="/auth/sign-up">Sign Up</a>
            <a class="_link" routerLink="/auth/reset-password" [queryParams]="{qID:'email'}">Forgot Password</a>
        </div>
        <div>
            <a class="btn btn-signUp" [routerLink]="['/auth/login', 'USER']">Customer Login</a>
            <a class="btn btn-signIn" [routerLink]="['/auth/login', 'CHEF']">Chefs Login</a>
        </div>
      </div>
      <div class="form-inline mt-2 mt-md-0" *ngIf="isLoggedIn">
        <div class="dropdown my-2 my-sm-0">
          <button class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown" type="button" style="width: auto;">
            <img *ngIf="userProfile?.image" [src]="userProfile?.image" width="30" height="30" class="rounded-circle" />
            <i *ngIf="!userProfile?.image" class="fa fa-user"></i>
            {{userProfile?.fullName}}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/messages']">My Messages</a>
            <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/events']" *ngIf="userType === 'CHEF'">My Events</a>
            <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/bookings']" *ngIf="userType === 'USER' || (userType === 'CHEF' && profileService.isProfileComplete)">My Bookings</a>
            <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/profile']" *ngIf="userType === 'CHEF'">My Profile</a>
            <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/auth/change-password']">{{ setPassword }}</a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="clearfix mobile-header px-3" *ngIf="mobile">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/images/mplogofinal.png" alt="" srcset="">
  </a>
  <div class="pull-right text-center mobile-header-menus py-1" *ngIf="!isLoggedIn">
    <a class="bg-primary d-block mobile-login px-2 rounded text-light" [routerLink]="['/auth/login', 'USER']">Customer Sign In</a>
    <a class="bg-dark d-block mobile-signup mt-1 rounded text-light" [routerLink]="['/auth/sign-up']">Sign Up</a>
    <a class="d-block mobile-menu mt-1" [routerLink]="['/chefs']">Our Chefs</a>
  </div>
  <div class="form-inline mt-2 mt-md-0 pt-1 pull-right" *ngIf="isLoggedIn">
    <div class="dropdown my-2 my-sm-0">
      <button class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown" type="button" style="width: auto;">
        <img *ngIf="userProfile?.image" [src]="userProfile?.image" width="30" height="30" class="rounded-circle" />
        <i *ngIf="!userProfile?.image" class="fa fa-user"></i>
        {{userProfile?.fullName}}
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/events']" *ngIf="userType === 'CHEF'">My Events</a>
        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/bookings']">My Bookings</a>
        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/profile']" *ngIf="userType === 'CHEF'">My Profile</a>
        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/auth/change-password']">Change Password</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
