:host {
    display: block;
    @media (min-width: 1200px) {
        .container {
            max-width: 1000px;
        }
    }
    ._link {
        color: #EF5927;
        font-weight: bold;
        font-size: 14px;
        &:hover {
            color: #2a6496;
            text-decoration: underline;
        }
    }
    .btn {
        width: 120px;
        font-weight: 400;
        line-height: 1.25;
        font-size: 14px;
    }
    .btn-signUp {
        background-color: #FAAF40;
        border-color: #eea236;
        color: #fff;
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(229, 100, 0, 0.37);
        }
    }
    .btn-signIn {
        background-color: #F16522;
        border-color: #eea236;
        color: #fff;
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(229, 100, 0, 0.37);
        }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 14px;
                line-height: 1.42857143;
                color: #000;
                padding: 0 2px;
                &:hover {
                    color: #2a6496;
                    text-decoration: underline;
                }
            }
        }
    }
    .button-goja-khichuri {
        margin-top: -20px !important;
    }
}

:host {
    .mobile-header {
        height: 75px;
        border-bottom: 1px solid #dddddd;
        .navbar-brand{
            margin-right: 0;
            img {
                width: 155px;
            }
            @media only screen and (max-width: 360px){
                margin-top: 7px;
                img {
                    width: 120px;
                }
            }
        }
        .mobile-login {
            background: #b34023 !important;
        }
        .mobile-signup {
            background: #433a38 !important;
        }
        .mobile-header-menus {
            a {
                text-transform: uppercase;
                font-size: .7rem;
                font-weight: 600;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}