<div class="login-page py-4 mb-5">
  <div class="card">

    <div class="card-header text-center">
      <h1 class="h4 m-0">Reset Password</h1>
    </div>

    <div class="card-body" *ngIf="resetPassword =='email' && !successMessage">
      <form [formGroup]="emailForm" class="mb-4">
        <div class="form-group">
          <input maxlength="55" type="email" [ngClass]="emailForm.controls['email'].invalid && emailForm.controls['email'].touched ? 'is-invalid' : ''"
            [formControl]="emailForm.controls['email']" class="form-control" placeholder="Email">
          <p class="invalid-feedback">Email format should be joe@abc.com
          </p>
        </div>
        <div class="text-center">
          <button (click)="emailFormsubmit(emailForm.value)" [disabled]="!emailForm.valid" type="submit" class="btn btn-primary">
            <i *ngIf="spinner" class="fa fa-sign-up"></i> Submit</button>
        </div>
      </form>
    </div>


    <div [ngClass]="successMessage ? 'text-success':''" class="h3 mt-5 text-center" *ngIf="successMessage">
      <p>{{ successMessage }}</p>
    </div>


    <div class="card-body" *ngIf="resetPassword !=='email'">
      <form [formGroup]="forgotPasswordForm" class="mb-4">
        <div class="form-group">
          <input maxlength="32" type="password" [ngClass]="forgotPasswordForm.controls['password'].invalid && forgotPasswordForm.controls['password'].touched ? 'is-invalid' : ''"
            (input)="passwordMatch($event.target.value)" [formControl]="forgotPasswordForm.controls['password']" class="form-control"
            placeholder="Password">
          <p class="invalid-feedback">
            Password should contain at least a Symbol, Upper and Lower Case letters, a Digit with a minimum length of 8 </p>
        </div>
        <div class="form-group">
          <input type="password" [ngClass]="this.passwordMatchMsg == 2 ? 'is-invalid' : ''" (input)="ConfirmPasswordMatch($event.target.value)"
            class="form-control" placeholder="Confirm Password">
          <p class="invalid-feedback">Password does not match</p>
        </div>
        <div class="text-center">
          <button (click)="forgotPasswordFormsubmit(forgotPasswordForm.value)" [disabled]="(!forgotPasswordForm.valid || this.passwordMatchMsg !== 0 )" type="submit"
            class="btn btn-primary">
            <i *ngIf="spinner" class="fa fa-sign-up"></i> Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
