<div class="login-page py-4 mb-5">
  <div class="card" *ngIf="!signupWelcome">
    <div class="card-header text-center">
      <h1 class="h4 m-0">Sign Up</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="signupForm" class="mb-4">
        <div class="form-group text-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" [formControl]="signupForm.controls['userType']" type="radio" id="user" name="userType" value="USER">
            <label class="form-check-label" for="USER">I'm a diner</label>
          </div>
          <div class="form-check form-check-inline hidden-mobile">
            <input class="form-check-input" [formControl]="signupForm.controls['userType']" type="radio" id="chef" name="userType" value="CHEF">
            <label class="form-check-label" for="CHEF">I'm a chef</label>
          </div>
        </div>
        <div class="form-group">
          <input maxlength="55" type="email" [ngClass]="signupForm.controls['fullName'].invalid && signupForm.controls['fullName'].touched ? 'is-invalid' : ''"
            [formControl]="signupForm.controls['fullName']" class="form-control" placeholder="Full Name">
        </div>
        <div class="form-group">
          <input maxlength="55" type="email" [ngClass]="signupForm.controls['email'].invalid && signupForm.controls['email'].touched ? 'is-invalid' : ''"
            (input)="inputdMatch($event.target.value,'email')" [formControl]="signupForm.controls['email']" class="form-control"
            placeholder="Email">
          <p class="invalid-feedback">Email format should be joe@abc.com
          </p>
        </div>
        <div class="form-group">
          <input type="password" [ngClass]="this.emailMatchMsg == 2 ? 'is-invalid' : ''" (input)="confirmInputMatch($event.target.value,'email')"
            class="form-control" placeholder="Confirm Email">
          <p class="invalid-feedback">Email does not match</p>
        </div>
        <div class="form-group">
          <input maxlength="32" type="password" [ngClass]="signupForm.controls['password'].invalid && signupForm.controls['password'].touched ? 'is-invalid' : ''"
            (input)="inputdMatch($event.target.value,'password')" [formControl]="signupForm.controls['password']" class="form-control"
            placeholder="Password">
          <p class="invalid-feedback">
            Password should contain at least a Symbol, Upper and Lower Case letters, a Digit with a minimum length of 8 </p>
        </div>
        <div class="form-group">
          <input type="password" [ngClass]="this.passwordMatchMsg == 2 ? 'is-invalid' : ''" (input)="confirmInputMatch($event.target.value,'password')"
            class="form-control" placeholder="Confirm Password">
          <p class="invalid-feedback">Password does not match</p>
        </div>
        <div class="text-center">
          <button (click)="signUpFormsubmit()" [disabled]="(!signupForm.valid || this.passwordMatchMsg !== 0 )" type="submit" class="btn btn-primary">
            Submit</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-center">
      <p class="m-0 text-muted">
        By signing up you conform to our
        <a href="javascript:void(0)"> Terms of Service </a> and
        <a href="javascript:void(0)">Privacy Statement
        </a>.
      </p>
    </div>
  </div>

  <div class="card" *ngIf="signupWelcome">
    <div class="card-header text-center">
      <h1 class="h4 m-0">Thank you for signing up with
        <span>Melting Pot
        </span>
      </h1>
    </div>
    <div class="card-body">
      <div class="mb-4">
        <p> We sent a confirmation email to
          <a href="mailto:{{userEmail}}">{{ userEmail }}</a>
          <br> Please follow the instructions there to complete your registration.

        </p>
        <h5>If you haven't received the email, do the following: </h5>
        <ul>
          <li>Make sure provided email address is correct
            <br> or
          </li>
          <li>Check Promotions and Spam folders
          </li>
          <!-- <li (click)="resendEmailAPI()">
            <a>Resend Confirmation Email</a>
          </li> -->
        </ul>
        <p>If none of the above helps, please contact our
          <a href="mailto:support@title.io"> Support Team </a>
        </p>

      </div>
    </div>

  </div>



</div>
