<div class="login-page py-4 mb-5">
  <div class="card">
    <div class="card-header text-center">
      <h1 class="h4 m-0">Sign In</h1>
    </div>
    <div class="card-body">
      <div class="social-login">
        <div class="social-login-row clearfix">
          <button (click)="socialSignIn('facebook')" class="btn btn-facebook-login pull-left">
            <i class="fa fa-facebook"></i> Login <span class="hidden-mobile">with</span> Facebook
          </button>
          <button (click)="socialSignIn('google')" class="btn btn-google-signup pull-right">
            <i class="fa fa-google"></i> Login <span class="hidden-mobile">with</span> Google
          </button>
        </div>
        <p class="text-muted">We will not post to your Facebook without your permission</p>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or">or</span>
      </div>
      <form [formGroup]="loginForm" class="my-4">
        <input type="text" class="sr-only">
        <div class="form-group">
          <input maxlength="55" type="email" [ngClass]="loginForm.controls['email'].invalid && loginForm.controls['email'].touched ? 'is-invalid' : ''"
            [formControl]="loginForm.controls['email']" class="form-control" placeholder="Email" autocomplete="off">
          <p class="invalid-feedback">Email format should be joe@abc.com
          </p>
        </div>
        <div class="form-group">
          <input type="password" [ngClass]="loginForm.controls['password'].invalid && loginForm.controls['password'].touched ? 'is-invalid' : ''"
            [formControl]="loginForm.controls['password']" class="form-control" placeholder="Password">
        </div>
        <div class="text-center">
          <button [disabled]=!loginForm.valid type="submit" class="btn btn-primary" (click)="loginFormsubmit(loginForm.value)">
            <i class="fa fa-sign-in"></i> Submit</button>
        </div>
      </form>
      <p class="text-muted m-0">Forgotten your password?
        <a  routerLink="/auth/reset-password" [queryParams]="{qID:'email'}">Reset</a> it</p>
      <p class="text-muted m-0">New to Melting Pot?
        <a routerLink="/auth/sign-up">Register</a> now</p>
    </div>
    <div class="card-footer text-center">
      <p class="m-0 text-muted">
        By signing up you conform to our
        <a routerLink="/terms-of-service"> Terms of Service </a> and
        <a routerLink="/privacy-statement">Privacy Statement</a>.
      </p>
    </div>
  </div>
</div>
