:host {
    display: block;
    min-height: 75vh;
    .login-page {
        display: flex;
        align-items: center;
        justify-content: center;
        .card {
            width: 450px;
            .login-or {
                position: relative;
                font-size: 18px;
                color: #aaa;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .hr-or {
                background-color: #cdcdcd;
                height: 1px;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                border-color: #F05A28;
            }
            .span-or {
                display: block;
                position: absolute;
                left: 50%;
                top: -2px;
                margin-left: -25px;
                background-color: #fff;
                width: 50px;
                text-align: center;
            }
            .btn {
                font-size: 14px;
            }
            .social-login {
                p {
                    margin: 8px 0 10px;
                    font-size: 13px;
                    text-align: center;
                }
                .btn-facebook-login {
                    color: #fff;
                    background-color: #3b5998;
                    border-color: rgba(0,0,0,0.2);
                    &:hover, 
                    &:focus, 
                    &:active, 
                    &.active {
                        background-color: #2d4373;
                    }
                    @media only screen and (max-width: 400px){
                        font-size: 11px;
                    }
                }
                .btn-google-signup {
                    color: #fff;
                    background-color: #dd4b39;
                    border-color: rgba(0,0,0,0.2);
                    &:hover, 
                    &:focus, 
                    &:active, 
                    &.active {
                        background-color: #c23321;
                    }
                    @media only screen and (max-width: 400px){
                        font-size: 11px;
                    }
                }
            }
            .card-body {
                > p {
                  a {
                      color: #000;
                  }  
                }
            }
            .card-footer {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}