:host {
    display: block;
    font-size: 14px;
}

.mobile {
    :host {
        .mobile-bottom-menu {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            background: #E25630;
            height: 68px;
            .nav {
                flex-wrap: nowrap !important;
                li.nav-item {
                    border-right: 1px solid rgba(255, 255, 255, 0.24);
                    a.nav-link {
                        color: #FFFFFF;
                        font-size: .8rem;
                        padding: .5rem 0rem;
                        @media only screen and (max-width: 360px){
                            padding: .8rem 0rem;
                        }
                        img {
                            width: 45px;
                            height: 33px;
                            display: block;
                            margin: 0 auto;
                            @media only screen and (max-width: 360px){
                                width: 38px;
                                height: 28px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
