
<footer class="pt-4 pt-md-5 border-top" style="background: #52555C;" *ngIf="!mobile">
  <div class="container-fluid px-5">
    <div class="row">
      
      <div class="col-6 col-md">
        <!-- <h5 class="text-muted">About</h5> -->
        <ul class="list-unstyled text-small">
          <!-- <li><a class="text-light" routerLink="/about">About Us</a></li>
          <li><a class="text-light" routerLink="/how-it-works">How It Works</a></li> -->
          <li><a class="text-light" routerLink="/privacy-statement">Privacy Policy</a></li>
          <li><a class="text-light" routerLink="/privacy-statement">Policies</a></li>
          <li><a class="text-light" routerLink="/site-map">Sitemap</a></li>
          <li><a class="text-light" routerLink="/terms-of-service">Terms & Conditions</a></li>
          <li><a class="text-light" routerLink="/useful-links">Useful Links</a></li>
        </ul>
      </div>
      <!-- <div class="col-6 col-md">
        <h5 class="text-muted">Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-light" routerLink="/events">Upcoming Events</a></li>
          <li><a class="text-light" routerLink="/chefs">Our Chefs</a></li>
        </ul>
      </div> -->
      <div class="col-6 col-md text-center">
        <!-- <h5 class="text-muted">Contact Us</h5> -->
        <ul class="d-inline-block list-unstyled text-left text-small">
          <li><a class="text-light">Contact Us:</a></li>
          <li><a class="text-light" href="mailto:hello@title.io">hello@title.io</a></li>
        </ul>
      </div>
      <div class="col-12 col-md text-center">
        <div class="d-inline-block text-left">
          <img src="assets/images/dark-logo.png">
          <small class="d-block mb-3 text-light">&copy; Ireland</small>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="mobile-bottom-menu" *ngIf="mobile">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/events">
        <img src="assets/images/no10.PNG" alt="">
        Events
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/chefs">
        <img src="assets/images/hat.PNG" alt="">
        Our Chefs
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/how-it-works">
        <img src="assets/images/call.png" alt="">
        How It Works
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#newsLetterModal">
        <img src="assets/images/newsletterimage.PNG" alt="">
        Newsletter
      </a>
    </li>
  </ul>
</div>


<div class="modal" id="newsLetterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Newsletter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Enter Your Email Here To Subscribe To Our Newsletter</p>
          <div class="form-group">
            <input type="text" name="" id="" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Subscribe</button>
        </div>
      </div>
    </div>
  </div>