<div class="changePassword-page py-4 mb-5">
  <div class="card">
    <div class="card-header text-center">
      <h1 *ngIf="!setPassword" class="h4 m-0">Change Password</h1>
      <h1 *ngIf="setPassword" class="h4 m-0">Set Password</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="ChangePasswordForm" class="mb-4">
        <div  *ngIf="!setPassword" class="form-group">
          <input maxlength="32" type="password" [ngClass]="ChangePasswordForm.controls['oldPassword'].invalid && ChangePasswordForm.controls['oldPassword'].touched ? 'is-invalid' : ''"
            [formControl]="ChangePasswordForm.controls['oldPassword']" class="form-control" placeholder="Current Password">
        </div>
        <div class="form-group">
          <input type="password" [ngClass]="ChangePasswordForm.controls['newPassword'].invalid && ChangePasswordForm.controls['newPassword'].touched ? 'is-invalid' : ''"
            (input)="passwordMatch($event.target.value)" type="password" [formControl]="ChangePasswordForm.controls['newPassword']"
            class="form-control" placeholder="New Password">
          <p class="invalid-feedback">
            Password should contain at least a Symbol, Upper and Lower Case letters, a Digit with a minimum length of 8 </p>
        </div>
        <div class="form-group">
          <input type="password" [ngClass]="this.passwordMatchMsg == 2 ? 'is-invalid' : ''" (input)="ConfirmPasswordMatch($event.target.value)"
            [formControl]="ChangePasswordForm.controls['confirm_password']" class="form-control" placeholder="Confirm Password">
          <p class="invalid-feedback">Password does not match</p>
        </div>
        <div class="text-center">
          <button type="submit" (click)="UserChangePassword(ChangePasswordForm.value)" [disabled]="!ChangePasswordForm.valid || passwordMatchMsg != 0"
            class="btn btn-primary">
            <i *ngIf="spinner" class="fa fa-sign-up"></i> Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
