:host {
    display: block;
    min-height: 75vh;
    .changePassword-page {
        display: flex;
        align-items: center;
        justify-content: center;
        .card {
            width: 450px;            
            .btn {
                font-size: 14px;
            }
            .card-body {
                
            }
            .card-footer {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}