/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import "assets/font-awesome/font-awesome.scss";
@import "assets/stylesheet/bootstrap.scss";
@font-face {
    font-family: 'Tang';
    font-style: normal;
    font-weight: normal;
    src: local('Tang'), url('assets/fonts/Lintel-Regular.otf') format('truetype');
}
body {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 100%;
    margin-bottom: 17px !important;
}

.btn {
    &.btn-xs {
        padding: 0.20rem 0.2rem;
        font-size: 0.7rem;
        line-height: 1.2;
        border-radius: 0.1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    > i {
        vertical-align: text-top;
        margin: 0 2px;
    }
}

.btn-contact {
    background: #E56400;
    color: #ffffff;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(229, 100, 0, 0.37);
    }
}
.btn-recommend {
    background: #d13016;
    color: #ffffff;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(209, 48, 22, 0.37);
    }
}
.btn-facebook,
.btn-twitter {
    border-radius: 7px;
    font-size: 0;
    display: inline-flex;
    align-items: center;
    height: 40px;
    width: 118px;
    background-size: cover;
    background-repeat: no-repeat;
    i {
        border-left: 1px solid #fff;
        font-size: 0;
        padding-left: 13px;
        margin-left: 6px;
    }
}
.btn-facebook {
    background-image: url(assets/images/face-share.png);
}
.btn-twitter {
    background-image: url(assets/images/twitter-share.png);
}
.hidden-desktop {
    display: none;
}

button {
    cursor: pointer;
}


// Mobile Global styling
.mobile {
    margin-bottom: 0;
    font-family: 'Tang', serif;
    font-size: 12px;
    .hidden-mobile {
        display: none !important;
    }
    .hidden-desktop {
        display: block !important;
    }
    .page-description {
        margin: 0 -15px;
        padding: 0 15px;
        h3 {
            font-size: 18px;
        }
        p {
            font-size: .9rem;
            line-height: 1.3;
        }
        h5 {
            color: #E25630;
            font-size: .9rem;
        }
    }
    .btn-facebook,
    .btn-twitter {
        height: 18px;
        font-size: 0;
        display: inline-block;
        width: 18px;
        background-color: transparent;
        background-position: top right;
        background-size: cover;
        overflow: hidden;
        border-radius: 4px;
        i {
            border-left: none;
            font-size: inherit;
            padding-left: 0;
            margin-left: 0;
        }
    }
    .mobile-page-heading {
        margin: 0 0;
        position: relative;
        h2 {
            position: absolute;
            left: 0;
            right: 0;
            top: 5px;
            z-index: 1;
        }
        a {
            position: relative;
            z-index: 2;
        }
    }
}



.main-heading {
    font-size: 36px;
    margin-bottom: 1.7rem !important;
}
.content-paragraph {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.page-event, .page-event-details, .page-chefs {
    app-root {
        app-events, app-event-details {
            .container {
                max-width: 1170px;
            }
        }
        
        > .container {
            max-width: none;
            padding: 0;
        }
    }
}
.btn-back {
    padding: 0;
}